<li class="item {{#if children}}item-parent{{/if}}">
    <div class="item-message">
        <span class="item-message-time">
            {{createdAt}}
        </span>
        <span class="item-message-author">{{this.User.name}}</span>
        <span class="item-message-text">{{text}}</span>
        <span class="item-message-reply">Ответить</span>
        <span data-message="{{id}}" hidden></span>
    </div>
    {{#if children}}
    {{#each children}}
    <ul class="item-child">
        {{> childMessage this}}
    </ul>
    {{/each}}
    {{/if}}
</li>