<div class="container">
  <div class="row">
    <form class="form" role="form" method="POST" action="/chat/send">
      <input type="hidden" name="_csrf" value="{{_csrfToken}}">
      <textarea name="text" class="form-input" placeholder="Текст сообщения..."></textarea>
      <button class="form-submit" type="submit">Отправить</button>
    </form>
  </div>
  <div class="message-row row">
    <div class="message-container">
      <ul class="message-list">
        <li class="item item-parent">
          <div class="item-message">
            <span class="item-message-time">
              15:23
            </span>
            <span class="item-message-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
              laudantium dolores nam mollitia vel labore deleniti autem,
              magni dignissimos aspernatur quidem neque consequatur eligendi
              est repellat minus iure quod saepe!
            </span>
            <span class="item-message-reply">Ответить</span>
            <span data-message="432" hidden></span>
          </div>
          <ul class="item-child">
            <li class="item item-parent">
              <div class="item-message">
                <span class="item-message-time">
                  15:23
                </span>
                <span class="item-message-text">Еще одно сообщение</span>
                <span class="item-message-reply">Ответить</span>
                <span data-message="32" hidden></span>
              </div>
              <ul class="item-child">
                <li class="item item-parent">
                  <div class="item-message">
                    <span class="item-message-time">
                      15:23
                    </span>
                    <span class="item-message-text">One more</span>
                    <span class="item-message-reply">Ответить</span>
                    <span data-message="432" hidden></span>
                  </div>
                  <ul class="item-child">
                    <li class="item">
                      <div class="item-message">
                        <span class="item-message-time">
                          15:23
                        </span>
                        <span class="item-message-text">Ещ</span>
                        <span class="item-message-reply">Ответить</span>
                        <span data-message="432" hidden></span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="item-message">
                        <span class="item-message-time">
                          15:23
                        </span>
                        <span class="item-message-text">One more</span>
                        <span class="item-message-reply">Ответить</span>
                        <span data-message="432" hidden></span>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="message-controls">
      <div class="item ">
        <span class="item-show">Показать все</span>
      </div>
    </div>
  </div>
</div>

<script src="/js/scripts.min.js"></script>
<script src="/js/ajax.js"></script>