<div class="container">
  <div class="row">
    {{#if auth}}
    <form class="form" action="/chat/send" method="POST" role="form">

      <input type="hidden" name="_csrf" value="{{_csrfToken}}">
      <div class="form-container">
        <textarea name="text" class="form-input" placeholder="Текст сообщения..."></textarea>
        <span class="form-count form-count-negative">-15</span>
      </div>
      <div class="form-control">
        <button class="form-submit" type="submit" disabled>
          Отправить
        </button>
      </div>
    </form>
    {{else}}
    <div class="alert-auth">Необходимо <a href="/">авторизироваться</a> для отправлений сообщений</div>
    {{/if}}
  </div>
  <div class="message-row row">
    <div class="message-container">
      <ul class="message-list">
        {{#each comments}}
        <li class="item {{#if children}}item-parent{{/if}}">
          <div class="item-message">
            <span class="item-message-time">
              {{createdAt}}
            </span>
            <span class="item-message-author">{{this.User.name}}</span>
            <span class="item-message-text">
              {{text}}
            </span>
            <span class="item-message-reply">Ответить</span>
            <span data-message="{{id}}" hidden></span>
          </div>
          {{#if children}}
          {{#each children}}
          <ul class="item-child">
            {{> childMessage this}}
          </ul>
          {{/each}}
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="message-controls">
      <div class="item ">
        <span class="item-show">Показать все</span>
      </div>
      {{#if auth}}
      <div class="item item-logout">
        <a href="/logout" class="">Выход из профиля</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/scripts.min.js"></script>
<script src="/js/ajax.js"></script>