<div class="container main-page">
    <div class="main-page-chat">
        <a href="/chat">Перейти в чат без авторизации</a>
    </div>
    <div class="main-page-login">
        <form action="/auth/facebook" method="POST">
            <input type="hidden" name="_csrf" value="{{_csrfToken}}">
            <div class="item">
                <button type="submit" class="item-fb">Facebook</button>
            </div>
        </form>
        <form action="" method="POST">
            <div class="item"><button type="submit" class="item-vk">VK</button></div>
        </form>
    </div>
    <div class="main-page-message">
        <p class="notice-alert">
            "Для добавления и комментирования сообщений выполните вход"
        </p>
    </div>
</div>

<script src="js/scripts.min.js"></script>